---
import type { Booking } from "../../../pages/admin/_db/types";
import BookingEditButton from "./BookingEditButton.astro";

type Props = {
  booking: Booking;
};

const { booking } = Astro.props;
---

<div class="card">
  <div class="flex">
    <h3>{booking.username}</h3>
    <span>
      {
        booking.date.toLocaleDateString("es-PE", {
          day: "numeric",
          month: "long",
        })
      }
    </span>
  </div>
  {booking.phone && <span>Teléfono: {booking.phone}</span>}
  {booking.email && <span>Correo: {booking.email}</span>}
  <span>
    Horario: {booking.startTime} - {booking.endTime}
  </span>
  <span class="separator">Manicurista</span>
  <span>{booking.manicurist}</span>
  <span class="separator">Servicios:</span>
  <div class="services-list">
    {booking.services.map((service) => <span>{service.name}</span>)}
  </div>
  {
    booking.extras.length > 0 && (
      <>
        <span class="separator">Extras</span>
        <div class="services-list">
          {booking.extras.map((extra) => (
            <span>{extra.name}</span>
          ))}
        </div>
      </>
    )
  }
  <div class="flex">
    <span class="separator">Adelanto</span>
    <span>S/ {booking.advanceAmount}</span>
  </div>
  <div class="flex">
    <span class="separator">Total</span>
    <span>S/ {booking.totalPrice}</span>
  </div>
  <div class="flex-end">
    <BookingEditButton {booking} />
  </div>
</div>

<style>
  .card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .card:hover {
    box-shadow: 0 8px 15px #00000018;
  }

  .card h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333333;
  }

  .card span {
    font-size: 0.9rem;
    color: #3f3f3f;
  }

  .card .separator {
    font-weight: bold;
    margin-top: 0.25rem;
    color: #444444;
  }

  .card .services-list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  .services-list span {
    font-size: 0.85rem;
    background: #f1f1f1;
    padding: 0.3rem 0.6rem;
    border-radius: 5px;
    color: #555555;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .flex-end {
    display: flex;
    justify-content: flex-end;
  }
</style>
