---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card1 from "../components/Card1.astro";
import Card2 from "../components/Card2.astro";
---

<BaseLayout title="Lienzo Lima">
  <main class="wrapper">
    <h1>Test</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis a,
      maxime enim harum laudantium unde, aliquid odit in quae ea sit, asperiores
      veritatis illum? Dolore quae cumque sapiente quaerat sint.
    </p>
    <!-- Encabezado con título y botón alineado -->
    <div class="header">
      <h1>Nuestros Servicios</h1>
      <!-- <button>Lorem Ipsum</button> -->
    </div>
    <div class="container">
      <Card1
        img = "public/gel.png"
        description="Esmaltado en la uña natural, secado en lampara. Tiempo del procedimiento 1 hora (dependiendo del diseño)." 
        title="GEL"
        hasArrow={false}
        backgroundColor="var(--background)"
      />
      <Card1
        img = "public/rubber.png"
        description = "Gel de alta densidad que aporta dureza a la uña, evita que se rompa y se quiebre. Ideal para uñas mordidas y débiles. Tiempo del procedimiento 1 hora 40 min (dependiendo del diseño)."
        title="RUBBER"
        hasArrow={false}
        backgroundColor="var(--background)"
      />
      <Card1
        img = "public/softgel.png"
        description = "Proporcionan largo a la uña, a base de tips adheridos con pressgel. Aspecto natural. Tiempo del procedimiento 2 hora 20 min (dependiendo del diseño)."
        title="SOFTGEL"
        hasArrow={false}
        backgroundColor="var(--background)"
      />
    </div>

    <!-- DESCOMENTAR LUEGO
    <div class="container">
      Tarjetas grandes en otra fila
      <Card1
        title="Lorem Ipsum"
        hasArrow={false}
        backgroundColor="#EAA91C"
        textColor="#fff"
      />
      <Card1
        title="Lorem Ipsum"
        hasArrow={false}
        backgroundColor="#EAA91C"
        textColor="#fff"
      />
    </div> -->
    <Card2/>
  </main>
</BaseLayout>

<style>
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
  }

  .header h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .header button {
    background-color: var(--tertiary-400);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
  }

  /* Responsividad */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }

    .header h1 {
      font-size: 2rem;
    }

    .header button {
      font-size: 1rem;
    }
  }
</style>
