---
import SideBar from "../../../components/admin/SideBar.astro";
import AdminLayout from "../../../layouts/AdminLayout.astro";
import Header from "../../../components/admin/Header.astro";
import CollaboratorsHeader from "../../../components/admin/manage/colaborators/CollaboratorsHeader.astro";
import CollaboratorTable from "../../../components/admin/manage/colaborators/CollaboratorTable.astro";
import CollaboratorEditForm from "../../../components/admin/manage/colaborators/CollaboratorEditForm.astro";
import Dialog from "../../../components/global/dialog/Dialog.astro";
import CollaboratorDeleteForm from "../../../components/admin/manage/colaborators/CollaboratorDeleteForm.astro";
import { getPaginatedCollaborators } from "../_db/collaborators";
import CollaboratorAddForm from "../../../components/admin/manage/colaborators/CollaboratorAddForm.astro";
import Pagination from "../../../components/global/Pagination.astro";

const user = Astro.locals.user;

// If the user is not an admin or a manicurist, redirect to the home page
if (!user || (user.role !== "admin" && user.role !== "manicurist"))
  return Astro.redirect("/home", 302);

const { avatarURL, username, role } = user;

const { searchParams } = new URL(Astro.request.url);
const searchParam = (searchParams.get("search") || "").toLowerCase();
const pageParam = Number.parseInt(searchParams.get("page") || "1");

const pageSize = 10;
const {
  data: collaborators,
  count: totalCollaborators,
  totalPages,
} = await getPaginatedCollaborators({
  page: pageParam,
  pageSize,
  nameOrEmail: searchParam,
});
---

<AdminLayout title="Admin">
  <SideBar />
  <div>
    <Header {avatarURL} {username} {role} />
    <Dialog id="editCollaborator"><CollaboratorEditForm /></Dialog>
    <Dialog id="deleteCollaborator"><CollaboratorDeleteForm /></Dialog>
    <Dialog id="addCollaborator"><CollaboratorAddForm /></Dialog>
    <main class="wrapper">
      <CollaboratorsHeader collabsAmount={totalCollaborators} />
      <CollaboratorTable {collaborators} />
      <Pagination currentPage={pageParam} {totalPages} buttonsAmount={5} />
    </main>
  </div>
</AdminLayout>

<style>
  main {
    padding-top: var(--section-spacing);
    padding-bottom: var(--section-spacing);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
