---
import SideBar from "../../../components/admin/SideBar.astro";
import AdminLayout from "../../../layouts/AdminLayout.astro";
import Header from "../../../components/admin/Header.astro";
import UsersHeader from "../../../components/admin/manage/users/UsersHeader.astro";
import UsersTable from "../../../components/admin/manage/users/UsersTable.astro";
import Dialog from "../../../components/global/dialog/Dialog.astro";
import UserEditForm from "../../../components/admin/manage/users/UserEditForm.astro";
import UserDeleteForm from "../../../components/admin/manage/users/UserDeleteForm.astro";
import Pagination from "../../../components/global/Pagination.astro";
import { getPaginatedUsersTableData } from "../_db/users";

const user = Astro.locals.user;

// If the user is not an admin or a manicurist, redirect to the home page
if (!user || (user.role !== "admin" && user.role !== "manicurist"))
  return Astro.redirect("/home", 302);

const { avatarURL, username, role } = user;

const { searchParams } = new URL(Astro.request.url);
const searchParam = (searchParams.get("search") || "").toLowerCase();
const pageParam = Number.parseInt(searchParams.get("page") || "1");

const { data: users, count: totalUsers } = await getPaginatedUsersTableData({
  page: pageParam,
  pageSize: 10,
  nameOrEmail: searchParam,
});

const totalPages = Math.ceil(totalUsers / 10);
---

<AdminLayout title="Admin">
  <SideBar />
  <div>
    <Header {avatarURL} {username} {role} />
    <main>
      <Dialog id="editUser"><UserEditForm /></Dialog>
      <Dialog id="deleteUser"><UserDeleteForm /></Dialog>
      <UsersHeader usersAmount={totalUsers} />
      <UsersTable {users} />
      <Pagination currentPage={pageParam} {totalPages} buttonsAmount={5} />
    </main>
  </div>
</AdminLayout>

<style>
  main {
    padding-top: var(--section-spacing);
    padding-inline: var(--section-spacing);
    padding-bottom: var(--section-spacing);
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
