---
import type { Booking } from "../../../pages/admin/_db/types";
import CalendarIcon from "../../svgs/admin/IndexContent/CalendarIcon.astro";
import UserIcon from "../../svgs/admin/IndexContent/UserIcon.astro";

type Props = {
  bookings: Booking[];
};

const { bookings } = Astro.props;
---

<section>
  <header>
    <CalendarIcon />
    <span>Próximas Reservas</span>
  </header>
  <div class="booking-list">
    {
      bookings.length === 0 ? (
        <p>No hay próximas citas disponibles</p>
      ) : (
        bookings.map((bookingItem) => {
          return (
            <div class="item">
              <span class="item-rectangle" />
              <div class="item-inner">
                <div class="item-top">
                  <span>
                    {bookingItem.startTime} - {bookingItem.endTime}
                  </span>
                  <div class="item-user">
                    <UserIcon />
                    <span>{bookingItem.username.toUpperCase()}</span>
                  </div>
                </div>
                <div class="item-bottom">
                  <span class="item-payment-label">
                    {bookingItem.paymentStatus}
                  </span>
                  <span class="item-date-label">
                    {bookingItem.date.toLocaleDateString("es-PE", {
                      day: "numeric",
                      month: "long",
                    })}
                  </span>
                  <span class="item-manicurist-label">
                    {bookingItem.manicurist}
                  </span>
                </div>
              </div>
            </div>
          );
        })
      )
    }
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--color-light-gray);
    border-radius: 0.5rem;
  }

  header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #e15a85;
  }

  header :global(svg) {
    width: 2rem;
    height: 2rem;
    fill: #e15a85;
  }

  header span {
    font-size: 2rem;
  }

  .booking-list {
    display: flex;
    flex-direction: column;
  }

  .item-rectangle {
    width: 1rem;
    height: 1rem;
    background-color: #e15a85;
    border-radius: 0.25rem;
  }

  .item {
    display: flex;
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #aeaeae;
  }

  .item-inner {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .item-top {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .item-user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .item-user :global(svg) {
    width: 1rem;
    height: 1rem;
    fill: #7b7b7b;
  }

  .item-bottom {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .item-payment-label,
  .item-date-label,
  .item-manicurist-label {
    padding: 2px 12px;
    background-color: #f0c9a4;
    border-radius: 100px;
    text-wrap: nowrap;
  }

  .item-manicurist-label {
    background-color: #a4c4f0;
  }

  .item-date-label {
    background-color: #d0e6ad;
  }
</style>
