---
import SideBar from "../../components/admin/SideBar.astro";
import AdminLayout from "../../layouts/AdminLayout.astro";
import Header from "../../components/admin/Header.astro";
import AddBookingContent from "../../components/admin/addBooking/AddBookingContent.astro";
import { getManicuristsOptions } from "./_db/users";
import { getServices } from "./_db/services";
import { getExtras } from "./_db/extras";
import SuccessfulBookingPopup from "../../components/admin/addBooking/SuccessfulBookingPopup.astro";

const user = Astro.locals.user;

// If the user is not an admin or a manicurist, redirect to the home page
if (!user || (user.role !== "admin" && user.role !== "manicurist"))
  return Astro.redirect("/home", 302);

const { avatarURL, username, role } = user;

const [manicuristsOptions, services, extras] = await Promise.all([
  getManicuristsOptions(),
  getServices(),
  getExtras(),
]);
---

<AdminLayout title="Admin">
  <SideBar />
  <div>
    <Header {avatarURL} {username} {role} />
    <main>
      <AddBookingContent {manicuristsOptions} {services} {extras} />
      <SuccessfulBookingPopup />
    </main>
  </div>
</AdminLayout>

<style>
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  main {
    padding-top: var(--section-spacing);
    padding-inline: var(--section-spacing);
    padding-bottom: var(--section-spacing);
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
