---
import SideBar from "../../components/admin/SideBar.astro";
import AdminLayout from "../../layouts/AdminLayout.astro";
import Header from "../../components/admin/Header.astro";
import BookingsList from "../../components/admin/bookings/BookingsList.astro";
import BookingsHeader from "../../components/admin/bookings/BookingsHeader.astro";
import { getPaginatedBookings } from "./_db/bookings";
import Pagination from "../../components/global/Pagination.astro";

const user = Astro.locals.user;

// If the user is not an admin or a manicurist, redirect to the home page
if (!user || (user.role !== "admin" && user.role !== "manicurist"))
  return Astro.redirect("/home", 302);

const { avatarURL, username, role } = user;

const { searchParams } = new URL(Astro.request.url);
const allowedStatuses = ["pending", "finished", "cancelled"];
const pageParam = Number.parseInt(searchParams.get("page") || "1");
const dateParam = searchParams.get("date") || "";
const searchParam = (() => {
  const value = (searchParams.get("search") || "").toLowerCase();
  return allowedStatuses.includes(value)
    ? (value as "pending" | "finished" | "cancelled")
    : null;
})();

const pageSize = 8;
const { data: bookings, totalPages } = await getPaginatedBookings({
  page: pageParam,
  pageSize,
  day: dateParam ? new Date(dateParam) : undefined,
  status: searchParam || undefined,
});
---

<AdminLayout title="Admin">
  <SideBar />
  <div>
    <Header {avatarURL} {username} {role} />
    <main>
      <BookingsHeader {dateParam} searchParam={searchParam || ""} />
      <BookingsList {bookings} />
      <Pagination currentPage={pageParam} {totalPages} buttonsAmount={5} />
    </main>
  </div>
</AdminLayout>

<style>
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  main {
    padding-top: var(--section-spacing);
    padding-inline: var(--section-spacing);
    padding-bottom: var(--section-spacing);
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
