---
import SideBar from "../../components/admin/SideBar.astro";
import AdminLayout from "../../layouts/AdminLayout.astro";
import Header from "../../components/admin/Header.astro";
import ComplaintHeader from "../../components/admin/complaints/ComplaintHeader.astro";
import ComplaintTable from "../../components/admin/complaints/ComplaintTable.astro";
import Dialog from "../../components/global/dialog/Dialog.astro";
import ComplaintViewDialog from "../../components/admin/complaints/ComplaintViewDialog.astro";
import { getComplaintsTableData } from "./_db/complaints";

const user = Astro.locals.user;

// If the user is not an admin or a manicurist, redirect to the home page
if (!user || (user.role !== "admin" && user.role !== "manicurist"))
  return Astro.redirect("/home", 302);

const { avatarURL, username, role } = user;

//TODO: Get complaints amount from the database
const complaints = await getComplaintsTableData();
---

<AdminLayout title="Admin">
  <SideBar />
  <div>
    <Header {avatarURL} {username} {role} />
    <Dialog id="viewComplaint"><ComplaintViewDialog /></Dialog>
    <main class="wrapper">
      <ComplaintHeader complaintsAmount={complaints.length} />
      <ComplaintTable {complaints} />
    </main>
  </div>
</AdminLayout>

<style>
  main {
    padding-top: var(--section-spacing);
    padding-bottom: var(--section-spacing);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
