---
import SideBar from "../../components/admin/SideBar.astro";
import AdminLayout from "../../layouts/AdminLayout.astro";
import Header from "../../components/admin/Header.astro";
import IndexContent from "../../components/admin/indexContent/IndexContent.astro";
import { getTasks } from "./_db/tasks";
import { getUpcomingBookings } from "./_db/bookings";

const user = Astro.locals.user;

// TODO: maybe the admin rountes could be handled by a middleware
// If the user is not an admin or a manicurist, redirect to the home page
if (!user || (user.role !== "admin" && user.role !== "manicurist"))
  return Astro.redirect("/home", 302);

const { avatarURL, username, role, email } = user;

const userInfo = {
  avatarURL,
  email,
  username,
  role,
};

const [tasks, bookings] = await Promise.all([
  getTasks(),
  getUpcomingBookings(),
]);
---

<AdminLayout title="Admin">
  <SideBar />
  <div>
    <Header {avatarURL} {username} {role} />
    <main class="wrapper">
      <IndexContent {bookings} {tasks} {userInfo} />
    </main>
  </div>
</AdminLayout>

<style>
  main {
    padding-top: var(--section-spacing);
    padding-bottom: var(--section-spacing);
  }
</style>
