---
import SideBar from "../../components/admin/SideBar.astro";
import AdminLayout from "../../layouts/AdminLayout.astro";
import Header from "../../components/admin/Header.astro";
import ServicesHeader from "../../components/admin/servicesExtras/services/ServicesHeader.astro";
import ServicesTable from "../../components/admin/servicesExtras/services/ServicesTable.astro";
import Dialog from "../../components/global/dialog/Dialog.astro";
import ServicesAddForm from "../../components/admin/servicesExtras/services/ServicesAddForm.astro";
import ServicesEditForm from "../../components/admin/servicesExtras/services/ServicesEditForm.astro";
import ServicesDeleteForm from "../../components/admin/servicesExtras/services/ServicesDeleteForm.astro";
import { getPaginatedServices } from "./_db/services";
import Pagination from "../../components/global/Pagination.astro";

const user = Astro.locals.user;

// If the user is not an admin or a manicurist, redirect to the home page
if (!user || (user.role !== "admin" && user.role !== "manicurist"))
  return Astro.redirect("/home", 302);

const { avatarURL, username, role } = user;

const { searchParams } = new URL(Astro.request.url);
const searchParam = (searchParams.get("search") || "").toLowerCase();
const pageParam = Number.parseInt(searchParams.get("page") || "1");

const pageSize = 6;
const {
  services,
  count: totalServices,
  totalPages,
} = await getPaginatedServices({
  page: pageParam,
  pageSize,
  name: searchParam,
});
---

<AdminLayout title="Admin">
  <SideBar />
  <div>
    <Header {avatarURL} {username} {role} />
    <Dialog id="addService"><ServicesAddForm /></Dialog>
    <Dialog id="editService"><ServicesEditForm /></Dialog>
    <Dialog id="deleteService"><ServicesDeleteForm /></Dialog>
    <main class="wrapper">
      <ServicesHeader servicesAmount={totalServices} />
      <ServicesTable {services} />
      <Pagination currentPage={pageParam} {totalPages} />
    </main>
  </div>
</AdminLayout>

<style>
  main {
    padding-top: var(--section-spacing);
    padding-bottom: var(--section-spacing);
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
